@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto.ttf');
}

:root {
    --main-bg-color: #000;
    --main-fg-color: #fff;
}

html {
    scrollbar-color: var(--main-fg-color) var(--main-bg-color);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
    font-family: 'Roboto', 'sans-serif';
}

nav,
footer {
    border: 2px solid var(--main-fg-color);
    background-color: var(--main-fg-color);
    color: var(--main-bg-color);
}

nav a,
footer a {
    color: var(--main-bg-color);
}

#pagination {
    background-color: var(--main-bg-color);
    color: var(--main-fg-color);
}
#pagination a {
    color: var(--main-fg-color);
}

main {
    border: 2px solid var(--main-fg-color);
    border-top: none;
    border-bottom: none;
}

img[src*='berrysprite.png'] {
    float: right;
    padding-right: 1rem;
    filter: grayscale(100%);
}

blockquote {
    margin-left: 0;
    padding-left: 1.5rem;
    border-left: 3px solid var(--main-fg-color);
}

code {
    background-color: var(--main-fg-color);
    padding: 0.1rem;
    color: var(--main-bg-color);
}

pre:has(code) {
    background-color: var(--main-fg-color);
}


h1,h2,h3,h4,h5,h6 {
    color: var(--main-fg-color);
}

a {
    color: var(--main-fg-color);
}

a:hover,
a:focus {
    opacity: 50%;
}

ul li ul,
ol li ul {
    list-style-type: square;
}

ul li ul li::marker,
ol li ul li::marker {
    color: var(--main-fg-color);
}

.lastupdate::after {
    content: " ❇ "
}

.commentbox,
#disqus_thread {
    border-left: 2px solid var(--main-fg-color);
    border-right: 2px solid var(--main-fg-color);
}