@font-face {
  font-family: toshiba;
  src: url(/onlinewire/fonts/Web437_ToshibaSat_8x16.woff);
}

::selection {
  color: white;
  background: #99EA0B;
}

html {
  background: url("/onlinewire/online_bg.gif");
  background-attachment: fixed;
  font-family: toshiba;
  text-rendering: optimizeSpeed !important; 
}

body {
  text-align: center !important;
}

#container {
  width: 65%;
  margin: auto;
}

#header {
  width: 90%;
  margin: auto;
}

#text p {
  color: white;
  font-family: toshiba;
}

.alignradio {
  display: flex;
  justify-content: center;
}

#logo {
  width: 650px;
  height: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  transition: transform 1s;
  transition-timing-function: linear(0 0%, 0.22 2.1%, 0.86 6.5%, 1.11 8.6%, 1.3 10.7%, 1.35 11.8%, 1.37 12.9%, 1.37 13.7%, 1.36 14.5%, 1.32 16.2%, 1.03 21.8%, 0.94 24%, 0.89 25.9%, 0.88 26.85%, 0.87 27.8%, 0.87 29.25%, 0.88 30.7%, 0.91 32.4%, 0.98 36.4%, 1.01 38.3%, 1.04 40.5%, 1.05 42.7%, 1.05 44.1%, 1.04 45.7%, 1 53.3%, 0.99 55.4%, 0.98 57.5%, 0.99 60.7%, 1 68.1%, 1.01 72.2%, 1 86.7%, 1 100%)
}

#logo:hover {
  transform: translate(0,10px);
}

#buttons {
    display: flex; /* Aligns children horizontally */
    justify-content: center; /* Centers buttons horizontally */
    gap: 60px; /* Adds space between buttons */
}

.button {
    margin: 0; /* Removes default margins from <h4> */
    text-align: center;
}

#buttons a {
    font-size: 24px;
    font-family: toshiba;
    color: #99EA0B;
    font-weight: normal;
}

#buttons a:hover {
    font-size: 24px;
    font-family: toshiba;
    color: #fff;
    font-weight: normal;
}

#text a {
    font-size: 24px;
    font-family: toshiba;
    color: #99EA0B;
    font-weight: normal;
}

#text a:hover {
    font-size: 24px;
    font-family: toshiba;
    color: #fff;
    font-weight: normal;
}

#index a {
    font-size: 16px;
    font-family: toshiba;
    color: #99EA0B;
    font-weight: normal;
}

#index a:hover {
    font-size: 16px;
    font-family: toshiba;
    color: #fff;
    font-weight: normal;
}

#textDiv {
    text-align: left !important;
    padding-left: 5px;
    padding-right: 5px;

    background-color: #fff;
    color: #000;
    font-family: monospace;
    margin: auto;
}

#textDiv p {
    font-family: monospace;
    color: #000;
    font-weight: normal;
    font-size: 12px;
}

::selection {
  color: white;
  background: blue;
}