@font-face {
    font-family: visitor1;
    src: url('visitor1.ttf')  format('truetype');
  }

  @font-face {
    font-family: MSPGothic;
    src: url('MSPGothic.ttf')  format('truetype');
  }

  @font-face {
    font-family: edunline;
    src: url('edunline.ttf')  format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101115 ;
    background-image: url(vhr.png);
    background-size: cover;
}

#content {
    background-color: #a3d5ff;
    width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 200px 50px 200px 50px 200px 50px;
    grid-template-rows: 30px 30px 30px 20px 150px 30px 20px 200px 30px 30px;
}
#content_top{
    grid-area: 1/1/2/9;
    background-color: #d9f0ff;
    border-bottom: 1px solid #7292ad;
}

#logo{
    grid-area:1/2/2/4;
    z-index: 1;
}

#logo p{
    font-family: edunline;
    font-size: 45px;
    margin: -10px 0px 0px 0px;
    color: #7292ad;

}

nav {
    grid-area: 1/4/2/7;
    z-index: 1;
}

nav ul {
    list-style-type:none;
    display:flex;
}

nav p{
    font-family: visitor1;
    font-size: 10px;
    padding: 0px 10px 0px 0px;
    color: black;
}

nav a{
    text-decoration: none;
}
nav a:hover{
    text-decoration:underline;
    color: #40a6ff;
}

#icon {
    grid-area: 1/7/2/8;
    z-index: 1;
}

#top_divider{
    grid-area: 2/1/3/8;
    background-image: url(https://64.media.tumblr.com/b6acfa1044b46dfba842d2cd1bbede12/767055ab91487db8-57/s1280x1920/cf3b54bb77de7d5df57cff3b61c26742db1a9862.pnj);
}

#catalogue_header{
    grid-area: 4/2/5/7;
    background-image: url(https://64.media.tumblr.com/1743158519b4a45fadfe80ee6ff37ea3/767055ab91487db8-19/s1280x1920/e49fdb2845d6e58662689e8914c465541899467d.pnj);
    background-repeat: no-repeat;
}

#catalogue_header p{
    font-family: visitor1;
    font-size: 15px;
    padding: 4px 0px 0px 5px;
}

#catalogue{
    grid-area: 5/2/9/7; 
    background-color: #343434;
    border: 2px black solid;
    overflow-y: scroll;
    color: #fff;
}


#catalogue p{
    font-family: MSPGothic;
    font-size: 12px;
    padding: 2px 7px 10px 7px;
}

#catalogue a{
    color:#40a6ff;
    text-decoration: none;
}

#catalogue a:hover {
    color:#40a6ff;
    text-decoration:underline;
}

#catalogue img {
    padding: 10px
}

#catalogue img:hover {
    transform: scale(1.03);
}

#catalogue h6{
    font-family: visitor1;
    padding: 0px 7px;
    color: #40a6ff;
}



footer{
    grid-area: 10/1/11/8;
    background-color: #5fb4e8;
}

footer p{
    font-family: MSPGothic;
    font-size: 12px;
    padding: 6px 0px 0px 130px;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}