body {
  background-color: #001D4A;
  background-image: url("https://milkyway.moe/assets/cinnamoroll.png");
  font-size: 1.2em;
  font-family: bitmap;
  margin: 0;
  color: #000;
  line-height: 1.6em;
  margin:auto;
  width:83%;
  text-align:left;
  font-family:bitmap,monospace;
  font-smooth:never;
  -webkit-font-smoothing:none
}

a, a:visited {
  color: #0097ff;
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
  background-color: #b3e0ff;
}

* {
  box-sizing: border-box;
}

#container {
  max-width: 700px;
  margin: 3em auto;
  width: 90%;
}

#navbar {
  background-color: #edf8ff;
  width: 100%;
  padding: 0 5%;
  font-weight: bold;
  margin-bottom: 10px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #0097ff;
}
#navbar ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  justify-content: space-evenly;
}
#navbar li {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1.2em;
  display: inline-block;
  margin-right: 1.5em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
}
#navbar li a, #navbar li a:visited {
  color: #0097ff;
  text-decoration: none;
  padding: 3px;
}
#navbar li a:hover {
  background-color: #b3e0ff;
  color: #0097ff;
  text-decoration: none;
}

#flex {
  display: flex;
}

article {
  padding: 10px 5% 20px 5%;
  background-color: #edf8ff;
  outline-style: none;
  margin-bottom: 10px;
  width: 100%;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #0097ff;
}

footer {
  background-color: #edf8ff;
  width: 100%;
  padding: 10px;
  text-align: center;
  outline-style: none;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #0097ff;
}

h1, h2, h3, h4 {
  color: #0097ff;
}

hr {
  border: solid #0097ff;
  border-width: 1px 0 0 0;
}

blockquote {
  padding: 0 20px;  margin-left: 0;  border-left: 2px dotted #b3e0ff;
  font-size: 1.1em;
  line-height: 1.6em;
}

img {
  max-width: 100%;
  height: auto;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

ul.none {
    padding: 0;
    list-style-type: none;
}

/* Alignment classes */
.right {
  float: right;
  margin-left: 1em;
}
.left {
  float: left;
  margin-right: 1em;
}
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

/* Recent Blog Posts block in index.html */
#recentpostlistdiv ul {
  padding: 0;
  list-style-type: none;
}

/* At the bottom of blog posts */
#nextprev {
  text-align: center;
  margin-top: 1.4em;
}

@media only screen and (max-width: 900px) {
  #flex {
    flex-wrap: wrap;
  }
  #navbar ul {
    flex-wrap: wrap;
  }
}

/* Go To Top button */
#topBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline-width: 4px;
  outline-style: solid;
  outline-color: #b3e0ff;
  background-color: #edf8ff;
  color: #0097ff;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  font-family: "Courier New", sans-serif;
}
#topBtn:hover {
  color: #0097ff;
  background-color: #b3e0ff;
}

@font-face{font-family:riffic;src:url(/fonts/RifficFree-Bold.ttf)}
@font-face{font-family:title;src:url(/fonts/GoldenGirdle.otf)}
@font-face{font-family:bitmap;src:url(/fonts/JF-Dot-milkjf16.ttf)}
@font-face{font-family:miami;src:url(/fonts/miamiwriting.ttf)}
@font-face{font-family:dosfont;src:url(/fonts/Web437_Nix8810_M15.woff)}
@font-face{font-family:dosfont2;src:url(/fonts/Web437_NEC_APC3_8x16.woff)}
@font-face{font-family:cgafont;src:url(/fonts/Px437_Acer710_CGA-2y.ttf)}
@font-face{font-family:widecga;src:url(/fonts/Px437_IBM_CGA.ttf)}